In [5]:
import numpy as np
arr = np.arange(10,50)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [6]:
arr[38]

48

In [7]:
slice_array = arr[5:11]
slice_array

array([15, 16, 17, 18, 19, 20])

In [9]:
# 2-D array
arr_2d = np.array([[3,2,5],[1,4,8],[9,6,7]])
arr_2d

array([[3, 2, 5],
       [1, 4, 8],
       [9, 6, 7]])

In [10]:
arr_2d[1][2]

8

In [11]:
#slicing 2- d array
slice_arr = arr_2d[:2]
slice_arr

array([[3, 2, 5],
       [1, 4, 8]])

In [12]:
slice_arr = arr_2d[:2,1:]#slicing 2-d array
slice_arr

array([[2, 5],
       [4, 8]])

In [13]:
slice_arr = arr_2d[1:3,0:2]
slice_arr

array([[1, 4],
       [9, 6]])

In [16]:
boolean_arr = arr > 11
boolean_arr

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [17]:
arr[boolean_arr]#returns array value that is greater than 11

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
       46, 47, 48, 49])